// Login
$tiber: #09383e;
$elephant: #0c383e;
$white: #fff;

.landing-page-container {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content__wrapper {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}

.header {
  width: 100%;
  letter-spacing: 1rem;
  height: 12rem;
  padding: 2.5rem 0;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1.5rem !important;
    letter-spacing: 0.5rem;
  }
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: $elephant;
  display: inline-block;

  &:before,
  &:after {
    content: "";
    width: 1.5rem;
    height: 0.2rem;
    background-color: $elephant;
    display: inline-block;
    position: relative;
  }

  &:before {
    left: 0.5rem;
    top: -0.6rem;
  }

  &:after {
    top: -1.8rem;
  }
}

.social-container {
  width: 7.25rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;

  .social__icon {
    float: left;
    cursor: pointer;

    &.social__icon--dr {
      margin-left: 0.5rem;

      img {
        height: 2rem;
      }
    }
    &.social__icon--in {
      margin-left: 0.75rem;

      img {
        height: 2rem;
      }
    }

    &.social__icon--fb {
      img {
        height: 2rem;
        margin: 0rem;
      }
    }
  }
}

.coords {
  font-size: 1rem;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  margin-top: 10rem;
  margin-left: -8rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 561px) {
  .coords {
    font-size: 0.6rem;
  }
}

.ellipses-container {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  background: url(https://i.giphy.com/media/l0iVAuEtPF5KRbqmvd/source.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .ellipses-container {
    width: 60vw;
    height: 60vw;
  }
}

.login-github {
  text-align: center;
  text-transform: uppercase;
  margin-top: 9rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
}


.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: $tiber transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.scroller {
  width: 6rem;
  float: right;
  position: relative;
  transform: translateY(50%);
  overflow: hidden;

  .page-title {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5rem;
    float: left;
    margin-top: 1rem;
  }

  .timeline {
    width: 1.5rem;
    height: 9rem;
    float: right;

    .timeline__unit {
      width: 100%;
      height: 0.1rem;
      display: inline-block;
      background-color: $elephant;
      margin: 0 0 2rem;
      opacity: 0.2;

      &.timeline__unit--active {
        opacity: 1;

        &:after {
          opacity: 0.2;
        }
      }

      &:after {
        content: "";
        width: 70%;
        height: 0.1rem;
        position: relative;
        float: right;
        background-color: $elephant;
        top: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 561px) {
  .scroller {
    top: -5rem;
  }
  .page-title {
    display: none;
  }
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Login with github button

%button,
.button {
  padding: 2px 8px 0 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;

  &:hover {
    text-decoration: none;
  }
}

.button--social-login {
  display: inline-block;
  color: white;
  height: 50px;
  text-align: center;

  .icon {
    margin-right: 12px;
    font-size: 24px;
    line-height: 24px;
    width: 18px;
    height: 24px;
    text-align: center;
    top: 4px;
  }
}

.button--github {
  color: #333;
  line-height: 46px;
  margin-bottom: 3rem;

  &:hover {
    color: $tiber;
  }
}
