// Login
$tiber: #09383e;
$elephant: #0c383e;
$white: #fff;

.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 70rem;
  overflow: hidden;
}

.content__wrapper {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}

.header {
  width: 100%;
  letter-spacing: 1rem;
  height: 12rem;
  padding: 2.5rem 0;
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: $elephant;
  display: inline-block;

  &:before,
  &:after {
    content: "";
    width: 1.5rem;
    height: 0.2rem;
    background-color: $elephant;
    display: inline-block;
    position: relative;
  }

  &:before {
    left: 0.5rem;
    top: -0.6rem;
  }

  &:after {
    top: -1.8rem;
  }
}

.social-container {
  width: 7.25rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;

  .social__icon {
    float: left;
    cursor: pointer;

    &.social__icon--dr {
      margin-left: 0.5rem;

      img {
        height: 2rem;
      }
    }
    &.social__icon--in {
      margin-left: 0.75rem;

      img {
        height: 2rem;
      }
    }

    &.social__icon--fb {
      img {
        height: 2rem;
        margin: 0rem;
      }
    }
  }
}

.coords {
  font-size: 1rem;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  margin-left: -4rem;
  position: relative;
  top: 45%;
  letter-spacing: 0.2rem;
}

.ellipses-container {
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 1.5rem;

  .greeting {
    position: absolute;
    top: 2rem;
    left: 6.4rem;
    margin: 0 auto;
    opacity: 0.5;
  }
}

.login-github {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-left: 6rem;
  margin-top: 6rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: $tiber transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.scroller {
  width: 6rem;
  float: right;
  position: relative;
  top: -15%;
  transform: translateY(50%);
  overflow: hidden;

  .page-title {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5rem;
    float: left;
    margin-top: 1rem;
  }

  .timeline {
    width: 1.5rem;
    height: 9rem;
    float: right;

    .timeline__unit {
      width: 100%;
      height: 0.1rem;
      display: inline-block;
      background-color: $elephant;
      margin: 0 0 2rem;
      opacity: 0.2;

      &.timeline__unit--active {
        opacity: 1;

        &:after {
          opacity: 0.2;
        }
      }

      &:after {
        content: "";
        width: 70%;
        height: 0.1rem;
        position: relative;
        float: right;
        background-color: $elephant;
        top: 1rem;
      }
    }
  }
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Login with github button

%button,
.button {
  padding: 2px 8px 0 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;

  &:hover {
    text-decoration: none;
  }
}

.button--social-login {
  display: inline-block;
  color: white;
  height: 50px;
  text-align: center;

  .icon {
    margin-right: 12px;
    font-size: 24px;
    line-height: 24px;
    width: 18px;
    height: 24px;
    text-align: center;
    top: 4px;
  }
}

.button--github {
  background-color: #333;
  border: 1px solid darken(#333, 10%);
  line-height: 46px;


  .icon {
    border-right: 1px solid darken(#333, 10%);

    &:after {
      border-right: 1px solid lighten(#333, 10%);
    }
  }

  &:hover {
    background-color: darken(#333, 5%);
  }
}
