// Login
$tiber: #09383e;
$elephant: #0c383e;
$white: #fff;

.landing-page-container {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content__wrapper {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 auto;
  overflow-y: hidden;
}

.header {
  width: 100%;
  letter-spacing: 1rem;
  height: 12rem;
  padding: 2.5rem 0;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1.5rem !important;
    letter-spacing: 0.5rem;
  }
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: $elephant;
  display: inline-block;

  &:before,
  &:after {
    content: "";
    width: 1.5rem;
    height: 0.2rem;
    background-color: $elephant;
    display: inline-block;
    position: relative;
  }

  &:before {
    left: 0.5rem;
    top: -0.6rem;
  }

  &:after {
    top: -1.8rem;
  }
}

.social-container {
  width: 7.25rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  float: right;

  .social__icon {
    float: left;
    cursor: pointer;

    &.social__icon--dr {
      margin-left: 0.5rem;

      img {
        height: 2rem;
      }
    }
    &.social__icon--in {
      margin-left: 0.75rem;

      img {
        height: 2rem;
      }
    }

    &.social__icon--fb {
      img {
        height: 2rem;
        margin: 0rem;
      }
    }
  }
}

.coords {
  font-size: 1rem;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  margin-top: 10rem;
  margin-left: -8rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 561px) {
  .coords {
    font-size: 0.7rem;
  }
}

.ellipses-container {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  background-image: url(../assets/Images/logo.png);
  background-size: 60%;
  background-position: 55%;
  background-repeat: no-repeat;
  background-origin: content-box;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .ellipses-container {
    width: 60vw;
    height: 60vw;
  }
}

.login-github {
  text-align: center;
  text-transform: uppercase;
  margin-top: 9rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
}

.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}

.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: $tiber transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}

.scroller {
  width: 6rem;
  float: right;
  position: relative;
  transform: translateY(50%);
  overflow: hidden;

  .page-title {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.5rem;
    float: left;
    margin-top: 1rem;
  }

  .timeline {
    width: 1.5rem;
    height: 9rem;
    float: right;

    .timeline__unit {
      width: 100%;
      height: 0.1rem;
      display: inline-block;
      background-color: $elephant;
      margin: 0 0 2rem;
      opacity: 0.2;

      &.timeline__unit--active {
        opacity: 1;

        &:after {
          opacity: 0.2;
        }
      }

      &:after {
        content: "";
        width: 70%;
        height: 0.1rem;
        position: relative;
        float: right;
        background-color: $elephant;
        top: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 561px) {
  .scroller {
    top: -5rem;
  }
  .page-title {
    display: none;
  }
}

@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Login with github button

%button,
.button {
  padding: 2px 8px 0 10px;

  text-decoration: none;
  transition: all 250ms linear;

  &:hover {
    text-decoration: none;
  }
}

.button--social-login {
  display: inline-block;
  color: white;
  height: 50px;
  text-align: center;

  .icon {
    margin-right: 12px;
    font-size: 24px;
    line-height: 24px;
    width: 18px;
    height: 24px;
    text-align: center;
    top: 4px;
  }
}

.button--github {
  color: #3c4b64;
  line-height: 46px;
  margin-bottom: 3rem;

  &:hover {
    color: $tiber;
  }
}
.btn-effect:hover,
.btn-effect:focus {
  animation: pulse 1s;
  background-color: #3c4b64;
  color: #ebedef;
  box-shadow: 0 0 0 2em rgba(#3c4b64, 0);
}

.slide {
  height: 100%;
  position: relative;
  padding: 1em;
  font-size: 14px;
  margin-top: 8em;
}

// feature Section
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0em;
  margin-top: 7em;
  height: 100%;
}

.features:nth-child(1) {
  margin-top: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  position: relative;
  gap: 3em;
  text-align: left;
}

.text-container > h2 {
  text-align: center;
}

.features > .text-container,
.about > .text-container {
  padding-right: 2em;
  height: fit-content;
  align-self: center;
  flex-basis: 50%;
  box-shadow: none;
}

.gif-card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif-card > img {
  width: 100%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.intro-text h1 {
  margin-bottom: 1em;
  display: inline-block;
  position: relative;
}

.intro-text li,
.intro-text p {
  line-height: 1.5em;
}

// AboutUs Section
.about > .gif-card > img {
  width: 70%;
  box-shadow: none;
}

// Contribute Section
.contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-bottom: 5em;
}

.img-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  text-align: center;
}

.img-container > img {
  width: 50%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.contribute-button {
  background: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #3c4b64;
  position: relative;
  font: inherit;
  line-height: 1;
  flex-basis: 50%;
  padding: 1em;
  transition: all 250ms linear;
  background-color: #ebedef;
}

.contribute-button:hover,
.contribute-button:active,
.contribute-button {
  text-decoration: none;
  color: #3c4b64;
}
.contribute-button:nth-child(1) {
  background-color: #3c4b64;
  color: #ebedef;
  border-right: none;
}

.contribute-button:focus {
  outline: none;
}

.contribute-button:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  box-shadow: 0 0 0 2em #3c4b64;
  transition: all 1s;
}

.contribute-button:active:after {
  opacity: 1;
  box-shadow: 0 0 0 0 #3c4b64;
  transition: 0s;
}

// Copyright
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
}

// Media Queries
@media only screen and (min-width: 400px) {
  .slide {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 10em;
    font-size: 17px;
  }
}

@media only screen and (min-width: 720px) {
  .slide {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 10em;
  }

  .text-container,
  .text-card {
    box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.25);
  }

  .features-container {
    margin-top: 10em;
  }

  .features {
    display: flex;
    position: relative;
    gap: 2em;
  }

  .features:nth-child(1) {
    margin-top: 0;
  }

  .features:nth-child(odd) {
    flex-direction: row;
  }

  .features:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features:nth-child(3) {
    flex-direction: column;
  }

  .gif-card {
    flex-basis: 50%;
  }

  .features > .text-container,
  .about > .text-container {
    flex-basis: 50%;
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .gif-card {
    flex-basis: 50%;
  }
  .about > .gif-card > img {
    box-shadow: none;
    width: 100%;
    display: block;
  }

  // Contribute
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contribute-button:hover {
    transform: scale(1.2);
    z-index: 10;
  }

  .contribute-button:active {
    transform: scale(1);
  }
}

@media only screen and (min-width: 1080px) {
  .text-container {
    flex-basis: 50%;
  }

  .features,
  .about {
    gap: 4em;
  }

  .features:nth-child(odd)::after,
  .features:nth-child(even)::after,
  .slide:nth-child(odd)::after,
  .slide:nth-child(even)::after {
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    z-index: 10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: lighter;
  }

  .features:nth-child(odd)::after,
  .slide:nth-child(odd)::after {
    transform: rotate(90deg);
    right: -3em;
  }

  .features:nth-child(even)::after,
  .slide:nth-child(even)::after {
    transform: rotate(-90deg);
    left: -3em;
  }

  .features:nth-child(3) {
    flex-direction: row;
  }

  .slide.about::after {
    content: "N 60\00B0\0009 5\0027\0009 0.157\0022\0009 / W 238\00B0\0009 30\0027\0009 33.258\0022";
    top: 45%;
  }

  .slide.contribute::after {
    content: "";
  }

  .features:nth-child(1)::after {
    content: "N 30\00B0\0009 7\0027\0009 0.357\0022\0009 / E 108\00B0\0009 45\0027\0009 23.228\0022";
  }
  .features:nth-child(2)::after {
    content: "S 45\00B0\0009 2\0027\0009 0.327\0022\0009 / W 138\00B0\0009 20\0027\0009 25.215\0022";
    top: 45%;
  }
  .features:nth-child(3)::after {
    content: "N 60\00B0\0009 5\0027\0009 0.157\0022\0009 / W 238\00B0\0009 30\0027\0009 33.258\0022";
  }
  .features:nth-child(4)::after {
    content: "S 10\00B0\0009 9\0027\0009 0.857\0022\0009 / E 128\00B0\0009 15\0027\0009 41.138\0022";
  }
}
